.header {
    display: flex;
    align-items: center;
    height: 15vh;
    width: 100vw;
    padding: 0 5vw;
    color: var(--white);
    background-color: var(--dark-background);
}

.header h1 {
    flex: 1;
    font-size: 4rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    font-size: 3rem;
    font-weight: bold;
}

nav a {
    color: var(--white);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav button {
    font-size: inherit;
    font-weight: inherit;
    padding: 0 2rem;
    border-radius: 10px;
}